---
import Layout from './Layout.astro';
---

<Layout>
  <div
    class="prose
      dark:prose-invert
      prose-h1:font-normal
      prose-h1:text-3xl
      prose-h2:font-normal
      prose-h2:text-xl
      prose-a:text-blue-600
      prose-p:text-justify
      prose-img:rounded-xl"
  >
    <slot />
  </div>
</Layout>
