---
import Layout from './Layout.astro';
import BreadcrumbMenu from '../components/BreadcrumbMenu.astro';
import type { BreadcrumbMenuItem } from '../components/BreadcrumbMenu.astro';

interface Props {
  pageTitle: string;
  electoralPeriod: {
    id: string;
  };
  breadcrumbMenuItems?: BreadcrumbMenuItem[];
}

const { pageTitle, electoralPeriod, breadcrumbMenuItems } = Astro.props;

---
<Layout electoralPeriod={electoralPeriod}>

  <div class="mb-2 md:mb-5">
    <BreadcrumbMenu
      electoralPeriodId={electoralPeriod.id}
      breadcrumbMenuItems={breadcrumbMenuItems ?? []}
      currentPageTitle={pageTitle}
    />
  </div>

  <slot />

</Layout>
