---
import '@styles/global.css';
import Sidebar from '@components/Sidebar.astro';
import Topbar from '@components/Topbar.astro';
import { getEntry } from 'astro:content';
import { type Registry } from '@models/registry';
import MetaTags from '@components/MetaTags.astro';
import { DEFAULT_PARLIAMENT_PERIOD } from 'astro:env/server';

type Props = {
  parliamentPeriod?: Registry;
};

let { parliamentPeriod } = Astro.props as Props;
if (!parliamentPeriod) {
  const parliamentPeriodEntry = await getEntry(
    'parliamentPeriods',
    DEFAULT_PARLIAMENT_PERIOD,
  );
  parliamentPeriod = parliamentPeriodEntry?.data!;
}
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />

    <slot name="srw-meta-tags" />
    <MetaTags />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <!-- Matomo -->
    <script>
      // @ts-ignore
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function () {
        var u = '//matomo.unser-magdeburg.de/';
        _paq.push(['setTrackerUrl', u + 'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d = document,
          g = d.createElement('script'),
          s = d.getElementsByTagName('script')[0];
        // @ts-ignore
        g.async = true;
        g.src = u + 'matomo.js';
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>

  <body>
    <div class="size-full" id="layout-main">
      {
        parliamentPeriod && (
          <div class="flex">
            <Sidebar parliamentPeriod={parliamentPeriod} />

            <div class="flex h-screen min-w-0 grow flex-col overflow-auto">
              <Topbar />

              <div id="layout-content">
                <slot />
              </div>
            </div>
          </div>
        )
      }
    </div>
  </body>
</html>
