---
import PageLayout from '@layouts/PageLayout.astro';
import { getCollection } from 'astro:content';
import { getRecentMainPapers, getRecentPapersPeriod } from './_helpers.ts';

const oparlPapersCollection = await getCollection('oparlPapers');
const allPapers = oparlPapersCollection.map((oparlPaper) => oparlPaper.data);
const recentMainPapers = getRecentMainPapers(allPapers).toSorted((a, b) =>
  b.date.localeCompare(a.date),
);
const pageTitle = getRecentPapersPeriod();
---

<PageLayout pageTitle="Drucksachen">
  <div slot="sub-page-header">
    <div class="flex flex-row flex-wrap text-base-content/60 text-sm gap-x-4">
      {pageTitle}
    </div>
  </div>

  <div class="bg-base-100 border border-base-200 rounded-box">
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Nummer</th>
            <th>Titel</th>
          </tr>
        </thead>
        <tbody>
          {
            recentMainPapers.map((paper) => (
              <tr>
                <td>{paper.dateDisplay}</td>
                <td>
                  <a
                    href={`/paper?paperId=${paper.id}`}
                    class="link link-primary"
                  >
                    {paper.type || 'Drucksache'} {paper.reference || ''}
                  </a>
                </td>
                <td>{paper.title}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </div>
</PageLayout>
