<div class="card text-center">
  <div class="card-header">Geschlossenheit</div>
  <div class="card-body">
    <h3>{{ party.uniformityScore | number : '0.3-3' }}</h3>
    <p class="text-body-secondary">
      Ein Wert zwischen 0 und 1 gibt an, wie einheitlich die Parteimitglieder abgestimmt haben. Je größer der
      Wert ist, desto geschlossener ist das Abstimmungsverhalten der Partei.
    </p>
    <div>
      <canvas
        baseChart
        class="chart"
        type="line"
        [data]="chartData"
        [options]="chartOptions"
      ></canvas>
    </div>
  </div>
</div>
