<div class="card text-center">
  <div class="card-header">Abstimmungen</div>
  <div class="card-body">
    <h3>{{ person.votingAttendance * 100 | number : '1.2-2' }}%</h3>
    <p class="text-body-secondary">
      Hat an {{ didVote }} von {{ person.votes.length }} Abstimmungen teilgenommen
    </p>
    <div>
      <canvas
        *ngIf="isBrowser"
        baseChart
        class="chart"
        type="line"
        [data]="chartData"
        [options]="chartOptions"
      ></canvas>
    </div>
  </div>
</div>
