---
import '../../src/styles/globals.css';
import '@fontsource/inter';
---

<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>
