TYPESENSE_SERVER_URL=http://localhost:8108
TYPESENSE_API_KEY=abc123
TYPESENSE_COLLECTION_NAME=papers-and-speeches-0001

OPENAI_ORGANIZATION_ID=
OPENAI_PROJECT_ID=
OPENAI_API_KEY=

SCRAPE_OPARL_FETCH_DELAY_MS=5000
SCRAPE_OPARL_SYSTEM_URL=https://ratsinfo.magdeburg.de/oparl/bodies/0001

OPARL_COUNCIL_ORGANIZATION_ID=https://ratsinfo.magdeburg.de/oparl/bodies/0001/organizations/gr/1
OPARL_S3_BUCKET=stadtrat-watch
OPARL_S3_PREFIX=oparl

AWS_REGION=eu-central-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

SRW_FEATURE_FLAGS=
