<div>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Startseite</a>
    </li>
    <li class="breadcrumb-item active">Personen</li>
  </ol>

  <div class="mb-5">
    <h1>Personen</h1>
  </div>

  <tabset #tabs>

    <tab heading="Liste" class="pt-4">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm">
          <thead>
          <tr>
            <th sortablePersons="name" (sort)="onSort($event)">Name</th>
            <th sortablePersons="fraction" (sort)="onSort($event)">Fraktion</th>
            <th sortablePersons="party" (sort)="onSort($event)">Partei</th>
            <th sortablePersons="votingAttendance" (sort)="onSort($event)" style="text-align: right;">
              abgestimmt
              <span tooltip="Gibt an, wie hoch der Anteil der abgegebenen Stimmen in Bezug zur Gesamtzahl der gezählten Abstimmungen ist"><i class="bi bi-info-circle"></i></span>
            </th>
            <th sortablePersons="votingSuccessRate" (sort)="onSort($event)" style="text-align: right;">
              Abstimmungserfolg
              <span tooltip="Gibt an, wie häufig die abgegebene Stimme mit dem Gesamtabstimmungsergebnis übereinstimmte"><i class="bi bi-info-circle"></i></span>
            </th>
            <th sortablePersons="abstentionRate" (sort)="onSort($event)" style="text-align: right;">
              Stimmenthaltungen
              <span tooltip="Gibt an, wie hoch der Anteil der abgegebenen Stimmen ist, die weder dafür noch dagegen waren"><i class="bi bi-info-circle"></i></span>
            </th>
            <th sortablePersons="speakingTime" (sort)="onSort($event)" style="text-align: right;">Redezeit</th>
          </thead>
          <tbody>
          <tr *ngFor="let person of sortedPersons">
            <td class="d-flex flex-column">
              <a [routerLink]="['/person', person.id]">{{ person.name }}</a>
              <span *ngIf="person.councilorUntil" class="text-body-secondary">
          Ratsmitglied bis {{ person.councilorUntil | date }}
        </span>
            </td>
            <td>{{ person.fraction }}</td>
            <td>{{ person.party }}</td>
            <td style="text-align: right;">{{ person.votingAttendance * 100 | number : '1.2-2'}}%</td>
            <td style="text-align: right;">{{ person.votingSuccessRate * 100 | number : '1.2-2'}}%</td>
            <td style="text-align: right;">{{ person.abstentionRate * 100 | number : '1.2-2'}}%</td>
            <td style="text-align: right;">{{ person.speakingTime | speakingTime }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </tab>

    <tab heading="Grafik" class="pt-4">

      <p class="alert alert-info">
        Jedes Kreissymbol repräsentiert ein Ratsmitglied. Je ähnlicher das Abstimmungsverhalten zweier Ratsmitglieder
        ist, desto näher liegen ihre Kreise beieinander.
      </p>

      <div #graphContainer id="graph-container"></div>

    </tab>

  </tabset>

</div>
