<div class="card text-center">
  <div class="card-header">Abstimmungsteilnahme</div>
  <div class="card-body">
    <h3>{{ fraction.participationRate * 100 | number : '1.1-1' }}%</h3>
    <p class="text-body-secondary">
      Gibt an, wie häufig die Fraktionsmitglieder an Abstimmungen teilgenommen haben.
    </p>
    <div>
      <canvas
        *ngIf="isBrowser"
        baseChart
        class="chart"
        type="line"
        [data]="chartData"
        [options]="chartOptions"
      ></canvas>
    </div>
  </div>
</div>
