<div>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Startseite</a>
    </li>
    <li class="breadcrumb-item active">Fraktionen</li>
  </ol>

  <div class="mb-5">
    <h1>Fraktionen</h1>
  </div>

  <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 g-3">

    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Erfolgreiche Anträge
          <span
            tooltip="Anteil der Anträge, die durch die Fraktion gestellt wurde und durch einen Mehrheitsbeschluss angenommen wurden."
          >
            <i class="bi bi-question-circle"></i>
          </span>
        </div>
        <div class="card-body">
          <app-application-success-rate-chart [fractions]="fractions"></app-application-success-rate-chart>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Abstimmungserfolg
          <span
            tooltip="Gibt an, wie häufig das Abstimmungsergebnis mit dem Votum der Fraktion übereinstimmte."
          >
            <i class="bi bi-question-circle"></i>
          </span>
        </div>
        <div class="card-body">
          <app-votings-success-rate-chart [fractions]="fractions"></app-votings-success-rate-chart>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Geschlossenheit
          <span
            tooltip="Ein Wert zwischen 0 und 1 gibt an, wie einheitlich die Fraktionsmitglieder abgestimmt haben. Je größer der Wert ist, desto geschlossener ist das Abstimmungsverhalten der Fraktion."
          >
            <i class="bi bi-question-circle"></i>
          </span>
        </div>
        <div class="card-body">
          <app-uniformity-score-chart [fractions]="fractions"></app-uniformity-score-chart>
        </div>
      </div>
    </div>

  </div>

  <div class="table-responsive mt-5">
    <table class="table table-striped table-bordered table-sm">
      <thead>
      <tr>
        <th sortableFractions="name" (sort)="onSort($event)">Name</th>
        <th sortableFractions="membersCount" (sort)="onSort($event)" style="text-align: right;">Mitglieder</th>
        <th sortableFractions="applicationsSuccessRate" (sort)="onSort($event)" style="text-align: right;">
          Erfolgreiche Anträge
          <span
            tooltip="Anteil der Anträge, die durch die Fraktion gestellt wurde und durch einen Mehrheitsbeschluss angenommen wurde."
          >
            <i class="bi bi-info-circle"></i>
          </span>
        </th>
        <th sortableFractions="votingsSuccessRate" (sort)="onSort($event)" style="text-align: right;">
          Abstimmungserfolg
          <span tooltip="Gibt an, wie häufig das Abstimmungsergebnis mit dem Votum der Fraktion übereinstimmte.">
            <i class="bi bi-info-circle"></i>
          </span>
        </th>
        <th sortableFractions="uniformityScore" (sort)="onSort($event)" style="text-align: right;">
          Geschlossenheit
          <span
            tooltip="Ein Wert zwischen 0 und 1 gibt an, wie einheitlich die Fraktionsmitglieder abgestimmt haben. Je größer der Wert ist, desto geschlossener ist das Abstimmungsverhalten der Fraktion."
          >
            <i class="bi bi-info-circle"></i>
          </span>
        </th>
      </thead>
      <tbody>
      <tr *ngFor="let fraction of sortedFractions">
        <td><a [routerLink]="['/fraction', fraction.id]">{{ fraction.name }}</a></td>
        <td style="text-align: right;">{{ fraction.membersCount }}</td>
        <td style="text-align: right;">{{ fraction.applicationsSuccessRate * 100 | number : '1.1-1' }}%</td>
        <td style="text-align: right;">{{ fraction.votingsSuccessRate * 100 | number : '1.1-1' }}%</td>
        <td style="text-align: right;">{{ fraction.uniformityScore | number : '0.3-3' }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
