<div class="card text-center">
  <div class="card-header">Abstimmungserfolg</div>
  <div class="card-body">
    <h3>{{ person.votingSuccessRate * 100 | number : '1.2-2' }}%</h3>
    <p class="text-body-secondary">
      {{ person.votingSuccessCount }} der {{ didVote }} abgegebenen Stimmen entsprachen dem Abstimmungsergebnis
    </p>
    <div>
      <canvas
        baseChart
        class="chart"
        type="line"
        [data]="chartData"
        [options]="chartOptions"
      ></canvas>
    </div>
  </div>
</div>
