---
import { formatPercent } from './_helpers';
import {
  calcParticipationRateHistoryOfPerson,
  calcParticipationRateOfPerson
} from '../../../../../data-analysis/ParticipationRate';
import type { RegistryPerson } from '../../../../../model/registry';
import type { SessionInput } from '../../../../../model/SessionInput';
import {
  calcVotingSuccessRateHistoryOfPerson,
  calcVotingSuccessRateOfPerson
} from '../../../../../data-analysis/VotingSuccess';
import {
  calcAbstentionRateHistoryOfPerson,
  calcAbstentionRateOfPerson
} from '../../../../../data-analysis/AbstentionRate';

type Props = {
  person: RegistryPerson;
  sessionInputs: SessionInput[];
};

const { person, sessionInputs } = Astro.props as Props;

const participationRate = calcParticipationRateOfPerson(person, sessionInputs);
const participationRateHistory = calcParticipationRateHistoryOfPerson(person, sessionInputs)
  .map(({ date, value }) => ({ x: date, y: value }));

const votingsSuccessRate = calcVotingSuccessRateOfPerson(person, sessionInputs);
const votingsSuccessRateHistory = calcVotingSuccessRateHistoryOfPerson(person, sessionInputs)
  .map(({ date, value }) => ({ x: date, y: value }));

const abstentionRate = calcAbstentionRateOfPerson(person, sessionInputs);
const abstentionRateHistory = calcAbstentionRateHistoryOfPerson(person, sessionInputs)
  .map(({ date, value }) => ({ x: date, y: value }));

---

<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">

  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-3 sm:px-6 text-center">Abstimmungsteilnahme</div>
    <div class="px-4 py-5 sm:p-6">
      <h2 class="text-base font-semibold text-gray-900 text-center">
        {participationRate === null ? 'n/a' : formatPercent(participationRate)}
      </h2>
      <p class="text-sm py-2 text-gray-600 text-center">
        Gibt an, wie h채ufig das Ratsmitglied an Abstimmungen teilgenommen hat.
      </p>
      <canvas id="participationRateChart"></canvas>
    </div>
  </div>

  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-3 sm:px-6 text-center">Abstimmungserfolg</div>
    <div class="px-4 py-5 sm:p-6">
      <h2 class="text-base font-semibold text-gray-900 text-center">
        {votingsSuccessRate === null ? 'n/a' : formatPercent(votingsSuccessRate)}
      </h2>
      <p class="text-sm py-2 text-gray-600 text-center">
        Gibt an, wie h채ufig das Abstimmungsergebnis mit dem Votum des Ratsmitglieds 체bereinstimmte.
      </p>
      <canvas id="votingsSuccessRateChart"></canvas>
    </div>
  </div>

  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-3 sm:px-6 text-center">Stimmenthaltungen</div>
    <div class="px-4 py-5 sm:p-6">
      <h2 class="text-base font-semibold text-gray-900 text-center">
        {abstentionRate === null ? 'n/a' : formatPercent(abstentionRate)}
      </h2>
      <p class="text-sm py-2 text-gray-600 text-center">
        Gibt an, wie hoch der Anteil der abgegebenen Stimmen ist, die weder daf체r noch dagegen waren.
      </p>
      <canvas id="abstentionRateChart"></canvas>
    </div>
  </div>

</div>

<script is:inline src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script is:inline define:vars={{ data: participationRateHistory }}>

  const participationRateChartData = {
    datasets: [{
      data,
      fill: 'origin',
      backgroundColor: 'rgba(219, 234, 254, 1)',
      borderColor: 'rgba(96, 165, 250, 0.6)',
    }]
  };
  const participationRateChartOptions = {
    elements: { line: { tension: 0.5 } },
    scales: {
      x: { type: 'time' },
      y: {
        ticks: {
          callback: value => `${(value * 100).toFixed(1)}%`
        }
      }
    },
    plugins: { legend: false }
  };

  const participationRateChartCtx = document.getElementById('participationRateChart');
  new Chart(
    participationRateChartCtx,
    {
      type: 'line',
      data: participationRateChartData,
      options: participationRateChartOptions
    });

</script>

<script is:inline define:vars={{ data: votingsSuccessRateHistory }}>

  const votingsSuccessRateChartData = {
    datasets: [{
      data,
      fill: 'origin',
      backgroundColor: 'rgba(219, 234, 254, 1)',
      borderColor: 'rgba(96, 165, 250, 0.6)',
    }]
  };
  const votingsSuccessRateChartOptions = {
    elements: { line: { tension: 0.5 } },
    scales: {
      x: { type: 'time' },
      y: {
        ticks: {
          callback: value => `${(value * 100).toFixed(1)}%`
        }
      }
    },
    plugins: { legend: false }
  };

  const votingsSuccessRateChartCtx = document.getElementById('votingsSuccessRateChart');
  new Chart(
    votingsSuccessRateChartCtx,
    {
      type: 'line',
      data: votingsSuccessRateChartData,
      options: votingsSuccessRateChartOptions
    });

</script>

<script is:inline define:vars={{ data: abstentionRateHistory }}>

  const abstentionRateChartData = {
    datasets: [{
      data,
      fill: 'origin',
      backgroundColor: 'rgba(219, 234, 254, 1)',
      borderColor: 'rgba(96, 165, 250, 0.6)',
    }]
  };
  const abstentionRateChartOptions = {
    elements: { line: { tension: 0.5 } },
    scales: {
      x: { type: 'time' },
      y: {
        ticks: {
          callback: value => `${(value * 100).toFixed(1)}%`
        }
      }
    },
    plugins: { legend: false }
  };

  const abstentionRateChartCtx = document.getElementById('abstentionRateChart');
  new Chart(
    abstentionRateChartCtx,
    {
      type: 'line',
      data: abstentionRateChartData,
      options: abstentionRateChartOptions
    });

</script>
