---
import Layout from '@layouts/Layout.astro';
import PageHeader from '@components/PageHeader.astro';
import { type Registry } from '@models/registry';
import { type BreadcrumbItem } from '@components/BreadcrumbMenu.astro';

type Props = {
  pageTitle: string;
  electoralPeriod?: Registry;
  breadcrumbItems?: BreadcrumbItem[];
};

const { pageTitle, electoralPeriod, breadcrumbItems } = Astro.props as Props;
---

<Layout electoralPeriod={electoralPeriod}>
  <PageHeader
    pageTitle={pageTitle}
    electoralPeriod={electoralPeriod}
    breadcrumbItems={breadcrumbItems}
  />
  <slot name="sub-page-header" />
  <div class="pt-4">
    <slot />
  </div>
</Layout>
