<div *ngIf="votingViewModel" class="container my-lg-3 my-3">

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/', ELECTORAL_PERIOD_PATH, electoralPeriod]">Startseite</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/', ELECTORAL_PERIOD_PATH, electoralPeriod, 'sessions']">Sitzungen</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/', ELECTORAL_PERIOD_PATH, electoralPeriod, 'session', votingViewModel.sessionId]">
        {{ votingViewModel.sessionDate | date }}
      </a>
    </li>
    <li class="breadcrumb-item active">{{ votingViewModel.votingType }} {{ votingViewModel.applicationId }}</li>
  </ol>

  <div class="mb-5">
    <h1>Abstimmung</h1>
  </div>

  <div class="row gy-3">

    <div class="col-lg-3">

      <div class="row">
        <div class="col-auto">
          <dl>
            <dt>TOP</dt>
            <dd>{{ votingViewModel.agendaItem }}</dd>
          </dl>
        </div>
        <div class="col-6">
          <dl>
            <dt>{{ votingViewModel.votingType }}</dt>
            <dd *ngIf="votingViewModel.applicationUrl">
              <a href="{{ votingViewModel.applicationUrl }}" target="_blank">{{ votingViewModel.applicationId }}</a>
            </dd>
            <dd *ngIf="!votingViewModel.applicationUrl">{{ votingViewModel.applicationId }}</dd>
          </dl>
        </div>
      </div>

      <dl>
        <dt>Titel</dt>
        <dd>{{ votingViewModel.votingTitle }}</dd>
        <dt>Eingebracht von</dt>
        <dd *ngIf="votingViewModel.authorNames.length === 0">n/a</dd>
        <dd *ngIf="votingViewModel.authorNames.length === 1">{{ votingViewModel.authorNames[0] }}</dd>
        <dd *ngIf="votingViewModel.authorNames.length > 1">
          <ul>
            <li *ngFor="let author of votingViewModel.authorNames">{{ author }}</li>
          </ul>
        </dd>
        <dt>YouTube</dt>
        <dd>
          <a *ngIf="votingViewModel.youtubeUrl" href="{{ votingViewModel.youtubeUrl }}" target="_blank">
            {{ votingViewModel.youtubeUrl }}
          </a>
          <span *ngIf="!votingViewModel.youtubeUrl">n/a</span>
        </dd>
      </dl>

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span [class.fw-bold]="votingViewModel.votesFor > votingViewModel.votesAgainst">Dafür</span>
          <span
            class="badge rounded-pill"
            [style.background-color]="getVoteColor(VoteResult.VOTE_FOR)"
          >
            {{ votingViewModel.votesFor }}
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span [class.fw-bold]="votingViewModel.votesFor <= votingViewModel.votesAgainst">Dagegen</span>
          <span
            class="badge rounded-pill"
            [style.background-color]="getVoteColor(VoteResult.VOTE_AGAINST)"
          >
            {{ votingViewModel.votesAgainst }}
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Enthalten
          <span
            class="badge rounded-pill"
            [style.background-color]="getVoteColor(VoteResult.VOTE_ABSTENTION)"
          >
            {{ votingViewModel.votesAbstained }}
          </span>
        </li>
      </ul>

    </div>

    <div class="col-lg-9">

      <div class="row gy-3">
        <div *ngFor="let faction of factions" class="col-lg-3 col-md-4 col-sm-6 col-12">

          <div class="list-group">
            <a
              [routerLink]="['/', ELECTORAL_PERIOD_PATH, electoralPeriod, 'faction', faction.factionId]"
              class="list-group-item list-group-item-info fw-bold"
            >
              {{ faction.name }}
            </a>
            <a
              *ngFor="let member of faction.members"
              [routerLink]="['/', ELECTORAL_PERIOD_PATH, electoralPeriod, 'person', member.personId]"
              class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            >
              {{ member.name }}
              <i
                class="bi bi-square-fill"
                [style.color]="getVoteColor(member.vote)"
              ></i>
            </a>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
