<h1>Kontakt</h1>

<p class="alert alert-info">
  Diese Seite ist <em>keine</em> offizielle Seite der Stadt Magdeburg. Es handelt sich hierbei um ein unabhängiges Privatprojekt und wird ehrenamtlich entwickelt.
</p>

<h2>Lob, Kritik oder Ideen?</h2>
<p>Für allgemeine Anliegen schreiben Sie eine E-Mail an <a href="mailto:stadtratwatch@gmail.com">stadtratwatch&commat;gmail.com</a>.</p>

<h2>Spenden</h2>
<p>Wir freuen uns über jede finanzielle Unterstützung. Spenden können Sie auf das Konto des <a href="https://www.netz39.de" target="_blank">Netz39 e.V.</a> überweisen:</p>
<dl>
  <dt>Empfänger</dt>
  <dd>Netz39 e.V.</dd>
  <dt>IBAN</dt>
  <dd>DE64 4306 0967 4120 8043 00</dd>
  <dt>BIC</dt>
  <dd>GENODEM1GLS</dd>
  <dt>Verwendungszweck</dt>
  <dd>StadtratWatch</dd>
</dl>
