<div class="card text-center">
  <div class="card-header">Erfolgreiche Anträge</div>
  <div class="card-body">
    <h3>{{ fraction.applicationsSuccessRate * 100 | number : '1.1-1' }}%</h3>
    <p class="text-body-secondary">
      Anteil der Anträge, die durch die Fraktion gestellt wurde und durch einen Mehrheitsbeschluss angenommen
      wurde.
    </p>
    <div>
      <canvas
        *ngIf="isBrowser"
        baseChart
        class="chart"
        type="line"
        [data]="chartData"
        [options]="chartOptions"
      ></canvas>
    </div>
  </div>
</div>
