<div>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Startseite</a>
    </li>
    <li class="breadcrumb-item active">Parteien</li>
  </ol>

  <div class="mb-5">
    <h1>Parteien</h1>
  </div>

  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3">
    <div *ngFor="let party of parties" class="col">
      <div class="card text-center" style="cursor: pointer;">
        <div class="card-header d-flex justify-content-between">
          <a class="stretched-link text-decoration-none text-body" [routerLink]="['/party', party.id]">
            {{ party.name }}
          </a>
          <i class="bi bi-chevron-right"></i>
        </div>
        <div class="card-body">
          <h1>{{ party.seats }}</h1>
          <span class="text-body-tertiary">{{ party.seats === 1 ? 'Sitz' : 'Sitze' }}</span>
        </div>
      </div>
    </div>
  </div>

</div>
