---
const { electoralPeriod } = Astro.props;
const lastUpdate = new Date(electoralPeriod.lastUpdate).toLocaleString(
  'de-DE',
  {
      year: 'numeric',
      month: '2-digit',
      day: '2-digit'
    });
---

<footer class="sticky top-[100vh] bg-gray-900">
  <div class="mx-auto max-w-7xl overflow-hidden px-6 py-5 sm:py-6 lg:px-8">
    <p class="text-center text-xs/6 text-gray-400">
      Diese Seite ist <em>keine</em> offizielle Seite der Stadt Magdeburg. Es handelt sich hierbei um ein Privatprojekt und wird ehrenamtlich entwickelt von <a class="underline hover:text-white" href="https://codefor.de/magdeburg" target="_blank">Code for Magdeburg</a>.
    </p>
    <nav class="mt-5 flex flex-wrap justify-center gap-x-6 gap-y-3 text-sm/6" aria-label="Footer">
      <a
        href="https://github.com/code-for-magdeburg/StadtratWatch-web"
        target="_blank"
        class="text-gray-400 hover:text-white"
      >Quellcode</a>
      <a href="/privacy" class="text-gray-400 hover:text-white">Datenschutz</a>
      <a href="/impressum" class="text-gray-400 hover:text-white">Impressum</a>
      <a href="/contact" class="text-gray-400 hover:text-white">Kontakt</a>
    </nav>
    <div class="flex md:-mt-6 text-gray-400 text-xs/6 justify-center md:justify-end">
      Letzte Aktualisierung: {lastUpdate}
    </div>
  </div>
</footer>
