---
import { type BreadcrumbItem } from '@components/BreadcrumbMenu.astro';
import BreadcrumbMenu from './BreadcrumbMenu.astro';

type Props = {
  pageTitle: string;
  breadcrumbItems?: BreadcrumbItem[];
};

const { pageTitle, breadcrumbItems } = Astro.props as Props;
---

<div class="flex items-center justify-between">
  <h3 class="text-lg font-medium">{pageTitle}</h3>
  <BreadcrumbMenu breadcrumbItems={breadcrumbItems} />
</div>
