<header>

  <nav class="navbar navbar-expand-md sticky-top bg-body-tertiary border-bottom">
    <div class="container-fluid">

      <a routerLink="/" class="navbar-brand mb-0 h1">StadtratWatch</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        (click)="navbarCollapsed = !navbarCollapsed"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" [class.collapse]="navbarCollapsed" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a [routerLink]="['/ep', 7, 'sessions']" class="nav-link">Sitzungen</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/ep', 7, 'fractions']" class="nav-link">Fraktionen</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/ep', 7, 'parties']" class="nav-link">Parteien</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/ep', 7, 'persons']" class="nav-link">Personen</a>
          </li>
        </ul>
      </div>

      <div class="navbar-collapse justify-content-end" [class.collapse]="navbarCollapsed">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://github.com/code-for-magdeburg/StadtratWatch-web"
              target="_blank"
              rel="noopener"
            >
              <i class="bi bi-github"></i>
              <span class="d-md-none ms-2">GitHub</span>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

</header>

<main class="container py-3">
  <router-outlet></router-outlet>
</main>

<footer class="border-top py-3 px-3 mt-auto bg-body-tertiary row g-0">

  <div class="col-12 col-md-6 offset-md-3 text-center text-secondary mb-2">
    Diese Seite ist <em>keine</em> offizielle Seite der Stadt Magdeburg. Es handelt sich hierbei um ein Privatprojekt
    und wird ehrenamtlich entwickelt von
    <a href="https://codefor.de/magdeburg" target="_blank" rel="noopener">Code for Magdeburg</a>.
  </div>

  <ul class="nav col-12 col-md-4 offset-md-4 justify-content-center">
    <li class="nav-item">
      <a routerLink="/privacy" class="nav-link px-2 text-body-secondary">Datenschutz</a>
    </li>
    <li class="nav-item">
      <a routerLink="/impressum" class="nav-link px-2 text-body-secondary">Impressum</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" class="nav-link px-2 text-body-secondary">Kontakt</a>
    </li>
  </ul>

  <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
    <small class="text-body-secondary">
      Letzte Aktualisierung: {{ metadata?.lastUpdatedTimestamp | date: 'dd.MM.yyyy HH:mm' }}
    </small>
  </div>

</footer>
