<div class="card text-center" style="cursor: pointer;">
  <div class="card-body">
    <a
      class="d-block h5 stretched-link text-decoration-none text-body"
      [routerLink]="['/', ELECTORAL_PERIOD_PATH, electoralPeriod, 'person', councilor.personId]"
    >
      <span [class.opacity-50]="councilor.councilorUntil">{{ councilor.name }}</span>
    </a>
    <span class="text-body-tertiary">{{ councilor.party }}</span>
    <p *ngIf="councilor.councilorUntil" class="text-body-tertiary small mt-2 mb-0">
      Ratsmitglied bis {{ councilor.councilorUntil | date }}
    </p>
  </div>
</div>
