<div>

  <ng-container *ngIf="fraction">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Startseite</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/fractions">Fraktionen</a>
      </li>
      <li class="breadcrumb-item active">{{ fraction.name }}</li>
    </ol>

    <div class="mb-5">
      <h1>{{ fraction.name }}</h1>
    </div>

    <div class="mb-3">
      <h2>Ratsmitglieder</h2>
    </div>

    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3">
      <div *ngFor="let councilor of councilors" class="col">
        <app-councilor-card [councilor]="councilor"></app-councilor-card>
      </div>
    </div>

    <ng-container *ngIf="formerCouncilors.length">

      <div class="mb-3 mt-3">
        <h2>Ehemalige Ratsmitglieder</h2>
      </div>

      <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3">
        <div *ngFor="let councilor of formerCouncilors" class="col">
          <app-councilor-card [councilor]="councilor"></app-councilor-card>
        </div>
      </div>

    </ng-container>

    <h2 class="mb-3 mt-3">Abstimmungsstatistiken</h2>

    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3">

      <div class="col">
        <div class="card text-center">
          <div class="card-header">Erfolgreiche Anträge</div>
          <div class="card-body">
            <h3>{{ fraction.applicationsSuccessRate * 100 | number : '1.1-1' }}%</h3>
            <p class="text-body-secondary">
              Anteil der Anträge, die durch die Fraktion gestellt wurde und durch einen Mehrheitsbeschluss angenommen
              wurde.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-header">Abstimmungserfolg</div>
          <div class="card-body">
            <h3>{{ fraction.votingsSuccessRate * 100 | number : '1.1-1' }}%</h3>
            <p class="text-body-secondary">
              Gibt an, wie häufig das Abstimmungsergebnis mit dem Votum der Fraktion übereinstimmte.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-header">Geschlossenheit</div>
          <div class="card-body">
            <h3>{{ fraction.uniformityScore | number : '0.3-3' }}</h3>
            <p class="text-body-secondary">
              Ein Wert zwischen 0 und 1 gibt an, wie einheitlich die Fraktionsmitglieder abgestimmt haben. Je größer der
              Wert ist, desto geschlossener ist das Abstimmungsverhalten der Fraktion.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-header">Abstimmungsteilnahme</div>
          <div class="card-body">
            <h3>{{ fraction.participationRate * 100 | number : '1.1-1' }}%</h3>
            <p class="text-body-secondary">
              Gibt an, wie häufig die Fraktionsmitglieder an Abstimmungen teilgenommen haben.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card text-center">
          <div class="card-header">Stimmenthaltungen</div>
          <div class="card-body">
            <h3>{{ fraction.abstentionRate * 100 | number : '1.1-1' }}%</h3>
            <p class="text-body-secondary">
              Gibt an, wie hoch der Anteil der abgegebenen Stimmen ist, die weder dafür noch dagegen waren.
            </p>
          </div>
        </div>
      </div>

    </div>

    <h2 class="mb-3 mt-3">Anträge der Fraktion</h2>

    <div class="my-2">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="applicationsFilterCheckbox"
          [ngModel]="showApplications"
          (ngModelChange)="showApplications = !showApplications; changeApplicationsFilter()"
        >
        <label class="form-check-label" for="applicationsFilterCheckbox">Anträge</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="changeRequestsFilterCheckbox"
          [ngModel]="showChangeRequests"
          (ngModelChange)="showChangeRequests = !showChangeRequests; changeApplicationsFilter()"
        >
        <label class="form-check-label" for="changeRequestsFilterCheckbox">Änderungsanträge</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="checkbox"
          id="pointsOfOrderFilterCheckbox"
          [ngModel]="showPointsOfOrder"
          (ngModelChange)="showPointsOfOrder = !showPointsOfOrder; changeApplicationsFilter()"
        >
        <label class="form-check-label" for="pointsOfOrderFilterCheckbox">Geschäftsordnung</label>
      </div>
    </div>

    <div class="table-responsive mb-3">
      <table class="table table-striped table-bordered table-sm">
        <thead>
        <tr>
          <th sortableFractionApplications="votingDate" (sort)="onSort($event)">Abgestimmt am</th>
          <th sortableFractionApplications="typeAndId" (sort)="onSort($event)">Antrag</th>
          <th sortableFractionApplications="title" (sort)="onSort($event)">Titel</th>
          <th sortableFractionApplications="result" (sort)="onSort($event)" style="text-align: center;">Ergebnis</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let application of sortedApplications">
          <td>{{ application.votingDate | date }}</td>
          <td class="d-flex flex-column">
            <span>{{ application.type }}</span>
            <span *ngIf="!!application.applicationUrl">
              <a href="{{ application.applicationUrl }}" target="_blank">{{ application.applicationId }}</a>
            </span>
            <span *ngIf="!application.applicationUrl">{{ application.applicationId }}</span>
          </td>
          <td>
            <a [routerLink]="['/session', application.sessionId, 'voting', application.votingId]">
              {{ application.title }}
            </a>
          </td>
          <td style="text-align: center;">
            <span
              *ngIf="application.result === ApplicationResult.ACCEPTED"
              class="badge rounded-pill align-self-center"
              [style.background-color]="ACCEPTED_COLOR"
            >angenommen</span>
            <span
              *ngIf="application.result === ApplicationResult.PARTIALLY_ACCEPTED"
              class="badge rounded-pill align-self-center"
              [style.background-color]="PARTIALLY_ACCEPTED_COLOR"
            >teilweise</span>
            <span
              *ngIf="application.result === ApplicationResult.REJECTED"
              class="badge rounded-pill align-self-start"
              [style.background-color]="REJECTED_COLOR"
            >abgelehnt</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </ng-container>

</div>
