<div>

  <ng-container *ngIf="fraction">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Startseite</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/fractions">Fraktionen</a>
      </li>
      <li class="breadcrumb-item active">{{ fraction.name }}</li>
    </ol>

    <div class="mb-3">
      <h1>{{ fraction.name }}</h1>
    </div>

    <div class="mb-3">
      <h2>Mitglieder</h2>
    </div>

    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3 mb-3">
      <div *ngFor="let member of members" class="col">
        <div class="card text-center" style="cursor: pointer;">
          <div class="card-body">
            <a
              class="d-block h5 stretched-link text-decoration-none text-body"
              [routerLink]="['/person', member.personId]"
            >
              {{ member.name }}
            </a>
            <span class="text-body-tertiary">{{ member.party }}</span>
          </div>
        </div>
      </div>
    </div>

    <h2 class="mb-3">Abstimmungsstatistiken</h2>

    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3">

      <div class="col">
        <div class="card text-center">
          <div class="card-header">Geschlossenheit</div>
          <div class="card-body">
            <h3>{{ fraction.uniformityScore | number : '0.3-3' }}%</h3>
            <p class="text-body-secondary">
              Ein Wert zwischen 0 und 1 gibt an, wie einheitlich die Fraktionsmitglieder abgestimmt haben. Je größer der
              Wert ist, desto geschlossener ist das Abstimmungsverhalten der Fraktion.
            </p>
          </div>
        </div>
      </div>
    </div>

  </ng-container>


</div>
