<div>

  <ng-container *ngIf="party">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/">Startseite</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/parties">Parteien</a>
      </li>
      <li class="breadcrumb-item active">{{ party.name }}</li>
    </ol>

    <div class="mb-5">
      <h1>{{ party.name }}</h1>
    </div>

    <div class="mb-3">
      <h2>Ratsmitglieder</h2>
    </div>

    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3">
      <div *ngFor="let member of councilors" class="col">
        <app-councilor-card [councilor]="member"></app-councilor-card>
      </div>
    </div>

    <ng-container *ngIf="formerCouncilors.length">

      <div class="mb-3 mt-5">
        <h2>Ehemalige Ratsmitglieder</h2>
      </div>

      <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3">
        <div *ngFor="let member of formerCouncilors" class="col">
          <app-councilor-card [councilor]="member"></app-councilor-card>
        </div>
      </div>

    </ng-container>

  </ng-container>

</div>
