<div>

  <div class="mb-5">
    <h1>Suche</h1>
  </div>

  <form class="row row-cols-auto g-1 align-items-center mb-3" (ngSubmit)="search()">
    <div class="col-auto">
      <input
        class="form-control"
        type="search"
        name="search"
        placeholder="Suche"
        aria-label="Suche"
        [(ngModel)]="searchQuery"
      >
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-outline-secondary">
        <span><i class="bi bi-search me-1"></i>Suchen</span>
      </button>
    </div>
  </form>

  <div
    *ngIf="searchExecuted && searchResultItems.length === 0"
    class="alert alert-info"
    role="alert"
  >
    Keine Dokumente gefunden.
  </div>

  <div *ngFor="let item of searchResultItems" class="mb-3">

    <app-paper-search-result-card
      *ngIf="item.type === 'paper'"
      [paper]="item.paper!"
    />

    <app-speech-search-result-card
      *ngIf="item.type === 'speech'"
      [speech]="item.speech!"
    />

  </div>

  <pagination
    *ngIf="totalResultItems > 0"
    [ngModel]="page"
    [totalItems]="totalResultItems"
    [maxSize]="8"
    [rotate]="false"
    previousText="&larr;"
    nextText="&rarr;"
    (pageChanged)="pageChanged($event)"
  ></pagination>

</div>
