
<ng-container *ngIf="paper && documentUrl">

  <div class="mb-5">
    <span *ngIf="paper.reference">{{ paper.reference }} - {{ paper.type }}</span>
    <h1>{{ paper.title }}</h1>
  </div>

  <div class="container-sm-full d-none d-md-block">
    <iframe [src]="documentUrl"
            frameborder="0"
            style="width: 100%;
                               height: 90vh;
                               border: 0"
            loading="lazy">
    </iframe>
  </div>

  <div class="container d-block d-md-none text-center">
    <a class="btn btn-outline-primary" [href]="documentUrl" target="_blank">PDF öffnen</a>
  </div>

</ng-container>
